@import "./base.css";
@import "./reset.css";
@import "./theme.css";

/* 카드 컴포넌트 */
.product {
  position: relative;
  block-size: var(--size);
}

.product__image {
  block-size: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product__details {
  position: absolute;
  inset-block-start: var(--large-spacing);
  inset-inline-start: 50%;
  transform: translateX(-50%);

  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--x-small-spacing);

  .info {
    display: flex;
    flex-direction: column;
    gap: var(--small-spacing);

    .name {
      font-size: var(--large-text);
      font-weight: 700;
    }

    .description {
      display: flex;
      flex-direction: column;

      font-size: var(--base-text);
    }

    .release {
      color: var(--gray);
      font-size: var(--small-text);
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--base-spacing);

    button {
      padding: var(--x-small-spacing) var(--small-spacing);
      font-size: var(--xx-small-text);
      border-radius: 1.125rem;
    }

    .more-info {
      color: var(--white);
    }
  }
}

@media (min-width: 64rem) {
  .product__details {
    inset-block-start: var(--extra-large-spacing);

    .info {
      .name {
        font-size: var(--extra-large-text);
      }

      .description {
        flex-direction: row;
        gap: 0.3125rem;

        font-size: var(--medium-text);
        white-space: nowrap;
      }
    }

    .buttons button {
      font-size: var(--x-small-text);
    }
  }
}

/* 홀수/짝수번째 스타일링 */
.odd {
  .name,
  .description {
    color: var(--white);
  }

  .more-info {
    border: 0.0625rem solid var(--blue-200);
    background-color: var(--blue-200);
  }

  .view-price {
    color: var(--blue-200);
    border: 0.0625rem solid var(--blue-200);
    background-color: transparent;
  }
}

.even {
  .name,
  .description {
    color: var(--black);
  }

  .more-info {
    border: 0.0625rem solid var(--black);
    background-color: var(--black);
  }

  .view-price {
    color: var(--black);
    border: 0.0625rem solid var(--black);
    background-color: transparent;
  }
}

/* 카드 이미지 (Small Screen) */
.ipad-pro .product__image {
  background-image: image-set(
    url(./../products/ipad_pro.jpeg) 1x,
    url(./../products/ipad_pro_2x.jpeg) 2x
  );
}

.ipad-air .product__image {
  background-image: image-set(
    url(./../products/ipad_air.jpeg) 1x,
    url(./../products/ipad_air_2x.jpeg) 2x
  );
}

.iphone15-pro .product__image {
  background-image: image-set(
    url(./../products/iphone15_pro.jpeg) 1x,
    url(./../products/iphone15_pro_2x.jpeg) 2x
  );
}

.iphone15 .product__image {
  background-image: image-set(
    url(./../products/iphone15.jpeg) 1x,
    url(./../products/iphone15_2x.jpeg) 2x
  );
}

.watch .product__image {
  background-image: image-set(
    url(./../products/apple_watch.jpeg) 1x,
    url(./../products/apple_watch_2x.jpeg) 2x
  );
}

.macbook-air .product__image {
  background-image: image-set(
    url(./../products/macbook_air.jpeg) 1x,
    url(./../products/macbook_air_2x.jpeg) 2x
  );
}

.airpods-pro .product__image {
  background-image: image-set(
    url(./../products/airpods_pro.jpeg) 1x,
    url(./../products/airpods_pro_2x.jpeg) 2x
  );
}

/* 카드 이미지 (Large Screen) */
@media (min-width: 64rem) {
  .ipad-pro .product__image {
    background-image: image-set(
      url(./../products/ipad_pro_wide.jpeg) 1x,
      url(./../products/ipad_pro_wide_2x.jpeg) 2x
    );
  }

  .ipad-air .product__image {
    background-image: image-set(
      url(./../products/ipad_air_wide.jpeg) 1x,
      url(./../products/ipad_air_wide_2x.jpeg) 2x
    );
  }

  .iphone15-pro .product__image {
    background-image: image-set(
      url(./../products/iphone15_pro_wide.jpeg) 1x,
      url(./../products/iphone15_pro_wide_2x.jpeg) 2x
    );
  }
}

/* 전체 레이아웃 (Small Screen) */
.product-list--normal {
  display: grid;
  grid-template: repeat(3, auto) / 1fr;
  gap: 1.25rem;
  margin-block-end: 1.25rem;
}

.product-list--grid {
  display: grid;
  grid-template: repeat(4, auto) / 1fr;
  gap: 1.25rem;
}

/* 전체 레이아웃 (Large Screen) */
@media (min-width: 64rem) {
  .product-list--grid {
    grid-template: repeat(2, auto) / 1fr 1fr;
  }
}
