/* @import url(card-component.css); 이거뭐임? */
@import "./base.css";
@import "./reset.css";
@import "./theme.css";

/* 카드 컴포넌트 */
.product {
  position: relative;
  block-size: var(--size);
}

.product__image {
  block-size: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product__info {
  position: absolute;
  inset-block-start: var(--large-spacing);
  inset-inline-start: 50%;
  transform: translateX(-50%);
  color: var(--white);

  display: grid;
  grid-template: "name" "description" "buttons" / minmax(260px, 1fr);
  text-align: center;
  gap: var(--small-spacing);

  .name {
    grid-area: name;

    font-weight: 700;
    font-size: var(--large-text);
  }

  .description {
    grid-area: description;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-block-end: var(--x-small-spacing);

    font-size: var(--base-text);
    line-height: var(--line-normal);
  }

  /* .release {
    color: var(--gray);
    font-size: var(--small-text);
  } */

  .button-list {
    grid-area: buttons;

    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: var(--base-spacing);

    button {
      padding: var(--x-small-spacing) var(--small-spacing);
      font-size: var(--xx-small-text);
      border-radius: 18px;
    }

    .more-info {
      color: var(--white);
      border: 1px solid var(--blue-200);
      background-color: var(--blue-200);
    }

    .view-price {
      color: var(--blue-300);
      border: 1px solid var(--blue-300);
      background-color: transparent;
    }
  }
}

@media (min-width: 1024px) {
  .product__info {
    top: var(--extra-large-spacing);

    .name {
      font-size: var(--extra-large-text);
    }

    .description {
      flex-direction: row;
      gap: 5px;

      font-size: var(--medium-text);
    }

    .button-list button {
      font-size: var(--x-small-text);
    }
  }
}

/* 카드 이미지 */
.product__image {
  &.ipad-pro {
    background-image: image-set(
      url(./../products/ipad_pro.jpeg) 1x,
      url(./../products/ipad_pro_2x.jpeg) 2x
    );
  }

  &.ipad-air {
    background-image: image-set(
      url(./../products/ipad_air.jpeg) 1x,
      url(./../products/ipad_air_2x.jpeg) 2x
    );
  }

  &.iphone15-pro {
    background-image: image-set(
      url(./../products/iphone15_pro.jpeg) 1x,
      url(./../products/iphone15_pro_2x.jpeg) 2x
    );
  }

  /* 그리드 아이템 */
  &.iphone15 {
    background-image: image-set(
      url(./../products/iphone15.jpeg) 1x,
      url(./../products/iphone15_2x.jpeg) 2x
    );
  }

  &.watch {
    background-image: image-set(
      url(./../products/apple_watch.jpeg) 1x,
      url(./../products/apple_watch_2x.jpeg) 2x
    );
  }

  &.macbook-air {
    background-image: image-set(
      url(./../products/macbook_air.jpeg) 1x,
      url(./../products/macbook_air_2x.jpeg) 2x
    );
  }

  &.airpods-pro {
    background-image: image-set(
      url(./../products/airpods_pro.jpeg) 1x,
      url(./../products/airpods_pro_2x.jpeg) 2x
    );
  }
}

@media (min-width: 1024px) {
  .product__image {
    &.ipad-pro {
      background-image: image-set(
        url(./../products/ipad_pro_wide.jpeg) 1x,
        url(./../products/ipad_pro_wide_2x.jpeg) 2x
      );
    }

    &.ipad-air {
      background-image: image-set(
        url(./../products/ipad_air_wide.jpeg) 1x,
        url(./../products/ipad_air_wide_2x.jpeg) 2x
      );
    }

    &.iphone15-pro {
      background-image: image-set(
        url(./../products/iphone15_pro_wide.jpeg) 1x,
        url(./../products/iphone15_pro_wide_2x.jpeg) 2x
      );
    }
  }
}

/* 전체 레이아웃 */
.products {
  display: grid;
  grid-template: 1fr / 1fr;
  gap: 10px;
}

/* 그리드 레이아웃 */
@media (min-width: 1024px) {
  .product-list--grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
}
