span {
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 5px;
}

.main-container {
  margin: 10px 0px;
  padding: 200px;
  background: linear-gradient(to right, white, #f2f2f2);
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  text-align: center;
}

.profile-container {
  width: 346px;
}

.profile {
  float: left;
  width: 64px;
  height: 64px;
  margin: 0 10px 20px 10px;
  position: relative;
}

img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.online,
.offline {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 17px;
  height: 17px;
  border: 2px solid white;
  border-radius: 50%;
}

.online {
  background-color: #4cfe88;
}

.offline {
  background-color: #dbdbdb;
}

@supports (display: flex) {
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 316px;
    justify-content: center;
  }

  .profile {
    float: none;
    margin: 0;
  }
}
